{% extends "base.html" %}

{% block body %}
        {% if user.is_authenticated %}
        <p><a href="{% url 'create' %}" class="btn btn-primary">New</a></p>
        {% endif %}
        <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for blog in blogs %}
            <div class="post-preview">
                <a href="{% url 'detail' blog.pk %}">
                    <h2 class="post-title">
                        {{blog.contents}}
                    </h2>
                </a>
                <p class="post-meta">{{blog.posted_date}}</p>
            </div>
            {% endfor %}
            <hr>
        </div>
    </div>
{% endblock %}